.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 9999;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
  position: relative;
  width: 40%;
  /*max-width: 800px;*/
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  /*text-align: center;*/ 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/*调整表格内容太长了，不换行的问题*/
table>tbody>tr>td {
  max-width: 200px;
  word-break: break-all;
}

/*调整详情页内容太长不换行的问题*/
dl>dd {
  word-break: break-all;
}
/*调整文件预览页面文件名长，操作段的展示*/
.filepath td{
  max-width: 800px;
}

input.errorBorderStyle , textarea.errorBorderStyle , input.errorBorderStyle:focus , textarea.errorBorderStyle:focus {
  border-color: #dd4b39;
}

.loading-container{
	background: #000;
	/*width:20%;*/
  width:160px;
	opacity:0.8;
	/*height:200px;*/
	padding:2em 2em;
	border-radius: .5em;
}
